<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Blank
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">teeeeest</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <!-- <div id="container">
      <strong>teeest</strong>
      <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    </div> -->
    <div id="container" *ngFor="let room of (rooms$ | async)" (click)="selectRoom(room)">
      <strong>{{ room.name }}</strong>
      <div *ngFor="let table of room.tables">{{table.name}}</div>
    </div>

    <div id="container" *ngIf="(selectedRoom$ | async)">
      <strong>EL SELECCIONAT ES</strong>
      <strong>{{ (selectedRoom$ | async)?.name }} i te {{ (selectedRoom$ | async)?.tables.length }} taules</strong>
    </div>
  </ion-content>
  